body {
    margin: 0;
    padding: 0;
    
    font-family: Arial;
    font-size: 20px;
}

input {
    font-family: Arial;
    font-size: 20px;
}

input[type=button] {
    cursor: pointer;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 0; bottom: 0;
    left: 0;
    padding: 20px 0;
    
    
    z-index: 10;
}

#menu input[type=button] {
    width: 80%;
    height: 100px;
    margin: 5px 10%;
    
    font-size: 20px;

    border-radius: 10px;

    
   /* background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;*/

}


#menu .notification-wrapper {
    position: relative;
}

#menu .notification-wrapper .notification {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20px;
    height: 20px;
    
    text-align: center;
    border-radius: 10px;
    
    display: none;
}

#content .section {
    position: absolute;
    top: -20px; bottom: -20px;
    
    background: #fff;
    border-right: 1px solid #aaa;
}

#search {
    padding: 20px;
}

#my-activities {
    padding: 20px;
}

#information {
    padding: 20px;
}

#recommendations {
    padding: 20px;
}

#map {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

#toolbar {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 300px;
    padding: 10px;
    
    border-radius: 10px;
    border: 1px solid #aaa;
    background: #fff;
}

#toolbar > .left {
    position: absolute;
    top: 10px; bottom: 10px;
    left: 10px;
    
    border-right: 1px solid #aaa;
}

#toolbar > .right {
    position: absolute;
    top: 10px; bottom: 10px;
    right: 10px;
}

#toolbar > .left .categories {
    height: 100%;
}

#toolbar > .left .categories > .left {
    float: left;
    
    border-right: 1px solid #aaa;
}

#toolbar > .left .categories > .right {
    float: right;
}

#information-menu{
    padding-top:50px;
    width:500px;
    height:100%;
}

#information-menu button{
    width:405px;
    height:74px;
    margin:0 auto 20px auto;
    display:block;
}
