body {
    margin: 0;
    padding: 0;
    
    font-family: Arial;
    font-size: 20px;
}

input {
    font-family: Arial;
    font-size: 20px;
}

input[type=button] {
    cursor: pointer;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 0; bottom: 0;
    left: 0;
    padding: 20px 0;
    
    
    z-index: 10;
}

#menu input[type=button] {
    width: 80%;
    height: 100px;
    margin: 5px 10%;
    
    font-size: 20px;

    border-radius: 10px;

    
   /* background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;*/

}


#menu .notification-wrapper {
    position: relative;
}

#menu .notification-wrapper .notification {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20px;
    height: 20px;
    
    text-align: center;
    border-radius: 10px;
    
    display: none;
}

#content .section {
    position: absolute;
    top: -20px; bottom: -20px;
    
    background: #fff;
    border-right: 1px solid #aaa;
}

#search {
    padding: 20px;
}

#my-activities {
    padding: 20px;
}

#information {
    padding: 20px;
}

#recommendations {
    padding: 20px;
}

#map {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
